#bulkActionContainer {
    text-align: center;
}

#bulkActionContainer h1,
#bulkActionContainer h2,
#bulkActionContainer h3 {
    text-align: center;
}

#bulkActionContainer hr {
    width: 60%;
    min-width: 600px;
    margin-top: 15px;
}

#bulkActionContainer input[type=text].badInput {
    background-color: #ff414141;
}

#bulkActionContainer tr {
    cursor: default;
}

#bulkActionContainer .buttonContainer {
    text-align: center;
    width: auto;
}

#bulkActionContainer .multiSelectCheck {
    position: absolute;
}

#bulkActionContainer .buttonContainer input[type=button] {
    border-radius: 3px;
    padding: 4px;
}

#bulkActionButtons > .button {
    padding: 3px 5px 3px 5px;
    border-radius: 2px;
    margin: 5px 10px 5px 10px;
}
