:root {
  --bulk-action-table-green: rgba(0,100,0,0.3);
  --bulk-action-table-green-hover: rgba(0,100,0,0.4);
  --bulk-action-table-yellow: #551a;
  --bulk-action-table-yellow-hover: #662a;
  --bulk-action-table-red: #612121a1;
  --bulk-action-table-red-hover: #812121a1;
  --bulk-action-inactive-text: #919191;
  --bulk-action-tr-hover: #04C7;
  --bulk-action-tr-selected: #0387;
  --bulk-action-button-border: rgba(133,133,133,.67);
}

.bulkActionContainer {
  /* Make the permanently disabled checkbox a bit more noticeable, but it's not needed in light mode */
  & .multiSelectContainer input[type=checkbox]:not(:checked) ~ .customCheckbox {
    border-color: var(--theme-border-hover);
  }
  & .multiSelectContainer input[type=checkbox]:not(:checked):hover ~ .customCheckbox {
    border-color: var(--theme-primary);
  }
}