:root {
  --bulk-action-table-green: rgba(0,100,0,0.2);
  --bulk-action-table-green-hover: rgba(0,100,0,0.3);
  --bulk-action-table-yellow: #DD8;
  --bulk-action-table-yellow-hover: #CC7;
  --bulk-action-table-red: #f66a;
  --bulk-action-table-red-hover: #d66a;
  --bulk-action-inactive-text: #717171;
  --bulk-action-tr-hover: #4AF8;
  --bulk-action-tr-selected: #48a8;
  --bulk-action-button-border: rgba(93,93,93,.67);
}