.bulkActionOn {
    background: rgba(0,100,0,0.2) !important;
}
.bulkActionOn:hover {
    background: rgba(0,100,0,0.3) !important;
}

.bulkActionOff {
    background-color: #f66a !important;
}

.bulkActionOff:hover {
    background-color: #d66a !important;
}

.bulkActionSemi {
    background-color: #DD8 !important;
}

.bulkActionSemi:hover {
    background-color: #CC7 !important;
}

.bulkActionInactive {
    color: #717171;
}
