.bulkActionOn {
    background: rgba(0,100,0,0.3) !important; /** TODO: Scope #1116 to specific tables (and similar below) */
}
.bulkActionOn:hover {
    background: rgba(0,100,0,0.4) !important;
}

.bulkActionOff {
    background-color: #612121 !important;
}

.bulkActionOff:hover {
    background-color: #812121 !important;
}

.bulkActionSemi {
    background-color: #551 !important;
}

.bulkActionSemi:hover {
    background-color: #662 !important;
}

.bulkActionInactive {
    color: #919191;
}
