:root {
  --overlay-background: rgba(0,0,0,0.6);
  --overlay-darker: rgba(0,0,0,0.3);
  --overlay-modal-background: rgba(0,0,0,0.6);
  --overlay-green-hover: #050a;
  --overlay-yellow-hover: #a80a !important;
  --overlay-red-hover: #700a !important;
  --overlay-blue-hover: #46aa !important;
}
