#mainOverlay {
    background-color: rgba(200, 200, 200, 0.7);
}

#overlayContainer {
    color: #212121;
}

.darkerOverlay {
    background-color: #fecd;
}

/* Settings overlay */
#settingsContainer {
    background-color: #fecd;
}

#settingsContainer input,
#settingsContainer select {
    border: 1px solid #53575a;
    background-color: #fec;
}

#settingsContainer input[type=checkbox] {
    background-color: #fec;
}

#settingsContainer input[type=checkbox]:checked {
    background-color: #c0ddba;
}

#settingsContainer input[type=checkbox]:hover {
    background-color: #edb;
    border-color: #af4f00;
}

#settingsContainer input[type=checkbox]:checked:hover {
    background-color: #edb;
}

.disabledSetting {
    color: #818181;
}
  
.disabledSetting input[type=checkbox] {
    background-color: #fec !important;
    border-color: #53575a !important;
}
