#settings {
  opacity: 0.8;
  cursor: pointer;
}

#settings:hover {
  opacity: 1;
}

/* TODO: This is used by multiple overlay modals, so give it a more generalized name. */
#settingsContainer {
  margin: auto;
  width: 80%;
  min-width: 200px;
  max-width: 400px;
  padding: 20px;
  position: relative;
  background-color: var(--overlay-modal-background);

  & h3 {
    margin-top: 10px;
    text-align: center;
  }

  & label {
    float: left;
  }

  & input, select {
    float: right;
    border-radius: 5px;
    outline: 0;
    border: 1px solid #53575a;
    background-color: transparent;
  }

  & input[type=checkbox]:hover, select:hover {
    border-color: #af4f00;
  }

  & select {
    margin: 0;
  }

  & input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
    padding: 6px;
    margin: auto;
    display: inline-block;
    background-color: var(--settings-checkbox-background);
  }

  & input[type=checkbox]:checked {
    background-color: var(--settings-checkbox-checked);
  }

  & input[type=checkbox]:hover {
    background-color: var(--settings-checkbox-hover);
  }

  & input[type=checkbox]:checked:hover {
    background-color: var(--settings-checkbox-checked-hover);
  }

  & option {
    background-color: var(--theme-background);
  }

  & .disabledSetting {
    color: #818181;
  }

  & .disabledSetting input[type=checkbox] {
    background-color: var(--settings-checkbox-background) !important;
    border-color: #53575a !important;
  }
}

.serverStateButton {
  position: absolute;
  top: 27px;
  display: inline;
  float: none;
  transition: background-color 0.5s;
}

.serverStateButton svg {
  padding: 3px 0 3px 0;
}

#shutdownServer {
  right: 20px;
}

#restartServer {
  right: 50px;
}

#pauseServer {
  right: 80px;
}

#shutdownRestartOverlay {
  text-align: center;
  margin: auto;
}

#shutdownRestartOverlay input {
  float: none;
}

#shutdownRestartOverlay .settingsButtons {
  width: 100%;
}

.settingsButtons {
  float: right;
  overflow: auto;
}

.settingsButtons .button {
  transition: background-color 0.25s;
  padding: 5px;
  margin-left: 5px;
  border-radius: 3px;
}

/** TODO: Move to the appropriate place/update this file to be a generic overlay style definition */
.filterNumberInput {
  width: 40px;
  margin: 0 0 0 10px;
}

.filterSelect option {
  height: 20px;
}