#settings {
    opacity: 0.8;
    cursor: pointer;
  }
  
  #settings:hover {
    opacity: 1;
  }
  
  #settingsContainer {
    margin: auto;
    width: 80%;
    min-width: 200px;
    max-width: 400px;
    padding: 20px;
    position: relative;
  }
  
  #settingsContainer h3 {
    margin-top: 10px;
    text-align: center;
  }
  
  #settingsContainer label {
    float: left;
  }
  
  #settingsContainer input,
  #settingsContainer select {
    float: right;
    border-radius: 5px;
    outline: 0;
  }
  
  #settingsContainer input[type=button]:hover,
  #settingsContainer select:hover {
      border-color: #af4f00;
  }
  
  #settingsContainer select {
    margin: 0;
  }
  
  #settingsContainer input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
    padding: 6px;
    margin: auto;
    display: inline-block;
  }
  
  .serverStateButton {
    position: absolute;
    top: 27px;
    display: inline;
    float: none;
    transition: background-color 0.5s;
  }
  
  .serverStateButton img {
    padding: 3px 0 3px 0;
  }
  
  #shutdownServer {
    right: 20px;
  }
  
  #restartServer {
    right: 50px;
  }
  
  #pauseServer {
    right: 80px;
  }
  
  #shutdownRestartOverlay {
    text-align: center;
    margin: auto;
  }
  
  #shutdownRestartOverlay input {
    float: none;
  }
  
  #shutdownRestartOverlay .settingsButtons {
    width: 100%;
  }
  
  .settingsButtons {
    float: right;
    overflow: auto;
  }
  
  .settingsButtons .button {
    transition: background-color 0.25s;
    padding: 5px;
    margin-left: 5px;
    border-radius: 3px;
  }
