#settingsContainer {
    background-color: rgba(0,0,0,0.6);
    color: #c4c4c4;
}

#settingsContainer input,
#settingsContainer select {
    border: 1px solid #53575a;
    color: #c0bdba;
    background-color: transparent;
}

#settingsContainer option {
    background-color: #212121;
}

#settingsContainer hr {
    border: 1px solid #53575a;
}

#settingsContainer input[type=checkbox] {
    background-color: #3f4245;
}

#settingsContainer input[type=checkbox]:checked {
    background-color: #c0bdba;
}

#settingsContainer input[type=checkbox]:hover {
    background-color: #5f6265;
    border-color: #af4f00;
}

#settingsContainer input[type=checkbox]:checked:hover {
    background-color: #a09d9a;
}

.disabledSetting {
    color: #818181;
}

.disabledSetting input[type=checkbox] {
    background-color: #3f4245 !important;
    border-color: #53575a !important;
}

#shutdownServer:hover {
    background-color: #a00a !important;
}

/** TODO: Move to the appropriate place/update this file to be a generic overlay style definition */
#restartServer:hover,
#resetFilter:hover {
    background-color: #a80a !important;
}

#pauseServer:hover {
    background-color: #46aa !important;
}

.confirmSetting:hover,
.confirmSetting:focus {
    background-color: #040;
}

.cancelSetting:hover,
.cancelSetting:focus {
    background-color: #400;
}
