body {
  font-family: sans-serif;
  background-attachment: fixed;
  margin: 0;
  border: 0;
  overflow: auto;
  display: block;
  height: 100vh;
}

.noSelect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
    display: none !important;
}

form label {
  float: left;
  padding: 3px;
  margin: 5px;
}

form input {
  float: right;
}

input, select {
  padding: 1px;
  margin: 5px;
}

#siteTitle {
  /* To get around margin issues with a 100vh linear gradient background */
  margin-top: 0;
  padding-top: 20px;
}

#settings {
  opacity: 0.8;
  cursor: pointer;
}

#settings:hover {
  opacity: 1;
}

#settingsContainer {
  margin: auto;
  width: 80%;
  min-width: 200px;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(0,0,0,0.6);
  color: #c4c4c4;
}

#settingsContainer h3 {
  margin-top: 10px;
  text-align: center;
}

#settingsContainer label {
  float: left;
}

#settingsContainer input,
#settingsContainer select {
  float: right;
  border-radius: 5px;
  border: 1px solid #53575a;
  color: #c0bdba;
  outline: 0;
  background-color: #414141;
}

#settingsContainer select {
  margin: 0;
}

#settingsContainer hr {
  border: 1px solid #53575a;
}

#settingsContainer input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  padding: 6px;
  margin: auto;
  display: inline-block;
  background-color: #3f4245;
}

#settingsContainer input[type=checkbox]:checked {
  background-color: #c0bdba;
}

#settingsContainer input[type=checkbox]:hover {
  background-color: #5f6265;
  border-color: #af4f00;
}

#settingsContainer input[type=checkbox]:checked:hover {
  background-color: #a09d9a;
}

.settingsButtons {
  float: right;
  overflow: auto;
}

.settingsButtons input {
  padding: 5px;
}

.disabledSetting {
  color: #818181;
}

.disabledSetting input[type=checkbox] {
  background-color: #3f4245 !important;
  border-color: #53575a !important;
}

.formInput {
  padding: 5px;
  overflow: auto;
}

#showInstructions {
  margin: 5px auto 5px auto;
  display: inline-block;
  cursor: pointer;
}

#intro {
  max-width: 1000px;
  text-align: center;
  margin: auto;
}

#markerBreakdownHolder {
  display: block;
  margin: auto;
  text-align: center;
}

#markerBreakdown {
  margin-top: 10px;
  width: 335px;
  border-radius: 5px;
  padding: 1px 5px 1px 5px;
  background: transparent;
}

#markerBreakdownButtons>.button {
  padding: 5px;
}

#libraryList {
  width: 100%;
  margin: auto;
  text-align: center;
}

#libraries,
#search {
  padding: 5px;
  border-radius: 5px;
  background: transparent;
  text-align: center;
  font-size: 14pt;
}

#libraries {
  min-width: 350px;
}

select:focus,
input:focus {
  border-color: #ff7f00 !important;
}

input:focus-visible {
  outline: none;
}

#searchContainer {
  padding-top: 10px;
  width: 100%;
  text-align: center;
}

#search {
  width: 325px;
  margin: auto;
}

#showlist,
#seasonlist,
#episodelist {
  max-width: 1000px;
  margin: auto;
}

.button {
  padding: 0 3px 0 3px;
  display: inline-block;
  line-height: 20px;
  cursor: default;
}

.button:hover {
  transition: border .25s,box-shadow .5s;
  opacity: 1;
}

.button:focus-visible {
  outline: #ff7f00 solid 1px;
  border-radius: 3px;
}

.button>img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.buttonTextOnly {
  margin: 3px 1px 3px 1px;
  font-size: 10pt;
}

.buttonTextOnly>span {
  padding-left: 5px;
  padding-right: 5px;
}

.buttonIconAndText, .buttonIconOnly {
  border: 1px solid transparent;
  font-size: 9pt;
  opacity: 0.8;
}

.selected .buttonIconAndText {
  margin: 0;
}

.buttonIconAndText>span {
  margin-left: 5px;
  vertical-align: middle;
}

.showResult,
.seasonResult,
.episodeResult {
  display: flex;
  cursor: pointer;
}

.showResult,
.seasonResult {
  justify-content: center;
}

.showResult {
  padding: 10px;
}

.showResult:hover,
.seasonResult:hover,
.episodeResult:hover {
  font-weight: bold;
}

.showResult>div {
  flex: 1;
}

.showResultSeasons {
  text-align: center;
}

.showResultEpisodes {
  text-align: right;
}

.seasonResult {
  padding: 10px 10px 10px 20px;
}

.seasonResult>div {
  flex: 1;
}

.episodeResult {
  padding: 5px 10px 5px 10px;
  justify-content: space-between;
}

.episodeName {
  padding-left: 10px;
}

.episodeResultMarkers {
  text-align: right;
}

.episodeSeparator {
  margin: 1px;
}

.markerExpand {
  font-size: 14px;
}

.goBack {
  text-align: right;
  line-height: 20px;
}

.goBack>input {
  margin: 0;
  padding: 2px;
}

.selected {
  background: rgba(0,100,0,0.2);
  font-weight: bold;
  line-height: 23px;
}

.selected:hover {
  background: rgba(0,100,0,0.3);
}

.overlayButton {
  padding: 10px;
  border-radius: 3px;
}

.overlayButton:focus {
  border-color:#ff7f00;
}

#toggleContainer {
  position: absolute;
  top: 30px;
  right: 30px;
}

#darkModeToggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

#darkModeCheckbox {
  display: none;
  width: 0;
  height: 0;
}

.toggle {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #a1a1a1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  cursor: pointer;
  border-radius: 16px;
}

.toggle::before {
  position: absolute;
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: black;
  border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  content: "";
}

#darkModeCheckbox:checked + .toggle {
  background-color: #616191;
}

#darkModeCheckbox:focus + .toggle {
  box-shadow: 0 0 1px #616191;
}

#darkModeCheckbox:checked + .toggle:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* #616161C1 == rgba(97, 97, 97, 0.76)
/* firefox */
:root {
  scrollbar-color: rgba(97, 97, 97, 0.76) transparent !important;
  scrollbar-width: thin !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 5px;
  background: rgba(97, 97, 97, 0.76);
  opacity: 0.5;
}

/* corner */
::-webkit-scrollbar-corner {
  background: rgba(97, 97, 97, 0.76);
  border: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: rgba(129, 129, 129, 0.76); /* #818181C1 */
}

@media (orientation: landscape), (min-width: 767px) { /* Probably not a phone */
  /* width*/
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
}

@media all and (orientation: portrait) and (max-width: 767px) { /* Probably a phone */
  /* width*/
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  /* Toggle can overlap the header on mobile devices.
   * This isn't really a mobile-friendly site, but try not to completely break it. */
  #darkModeToggle {
    display: none;
  }
}
