body,
::-webkit-scrollbar-track {
    background-color: #ffefcc;
    background: linear-gradient(#FFEFCCDD, #CCA066DD),
                url('/i/000/noise.svg');
}

body {
    background-attachment: fixed;
    color: #212121;
}

input, select {
    border: 1px solid #616161;
    background-color: #f8e8c4;
    color: #212121;
}

hr {
    color: #444;
    border-color: #444;
}

#libraries option {
    background-color: #ffcfaa;
}

#libraries option:hover {
    background-color: #ff8f88;
}

#libraries:hover,
#search:hover,
.inlineButton:hover {
    border-color: #000;
}

.inlineButton {
  color: #515151;
}

.inlineButton:hover {
  color: #212121;
}

select:focus,
input:focus {
    border-color: #aa4f00 !important;
}

thead {
    border-bottom: 1px solid #21212166;
}

tr:nth-child(odd) {
    background-color: #fec6;
}

tr:nth-child(odd):hover {
    background-color: #ffeebb66;
}

tr:nth-child(even) {
    background-color: #edb6;
}

tr:nth-child(even):hover {
    background-color: #eda6;
}

.button:hover {
    border: 1px solid rgba(93,93,93,.67);
    box-shadow: 0 0 6px #414141;
}

.button:focus-visible {
    outline: #ff7f00 solid 1px;
}

.buttonTextOnly {
    border: 1px solid #333;
}

.showResult,
.seasonResult {
    border-bottom: 1px solid #666;
}

.showResult:hover,
.seasonResult:hover,
.episodeResult:hover {
    background-color: rgba(0,0,0,0.2);
}

.showResultSeasons,
.showResultEpisodes,
.resultRowAltTitle {
    color: #444;
}

.goBack {
    color: #111;
}

.goBack>input:hover {
    border-color: #313131;
}

input[type=button]:hover {
    border-color: #A0A0A0;
}

.selected {
  background: rgba(0,100,0,0.2);
}

.selected:hover {
  background: rgba(0,100,0,0.3);
}

.overlayButton {
    border: 1px solid #53575a;
    background-color: #fec;
}

.overlayButton:focus {
    border-color:#ff7f00;
}

.overlayButton:hover {
    border-color: black !important;
    background-color: #fea;
}

.confirmDelete {
    background-color: #912121;
}

#shutdownServer:hover {
    background-color: #f66a !important;
}

#restartServer:hover {
    background-color: #fb0a !important;
}

#pauseServer:hover {
    background-color: #8afa !important;
}

::-webkit-scrollbar-track:hover {
    background: #EECC99;
}

#tooltip {
    background-color: rgba(255, 240, 200, 0.8);
    color: #212121;
}
