:root {
  /* Core colors */
  --theme-primary: #c1c1c1;
  --theme-secondary: #919191;
  --theme-background: #212121;
  --theme-border: #616161;
  --theme-border-hover: #818181;
  --theme-green: #4c4;
  --theme-red: #c44;
  --theme-orange: #c94;
  --theme-input-background: #414141;
  --theme-input-background-subtle: #8882;
  --theme-hr-color: #999;
  --theme-focus-color: #ff7f00;

  /* Errors */
  --error-background: #9337;
  --error-background-subtle: #9334;
  --error-border: #C44;

  /* Warnings */
  --warn-background: #9937;
  --warn-background-subtle: #9934;
  --warn-border: #CC4;

  /* Info */
  --info-background: #3397;
  --info-border: #44C;

  /* Success */
  --success-background: #3934;
  --success-border: #4C4;

  /* Main sections */
  --media-item-hover: rgba(0,0,0,0.5);
  --section-options-background: rgba(0,0,0,0.4);
  --section-options-hover: rgba(0,0,0,0.5);
  --section-options-input-hover: rgba(255,255,255,0.1);

  /* Custom checkbox */
  --custom-checkbox-background: #383838AA;
  --custom-checkbox-checked: #a09d9a;
  --custom-checkbox-hover: transparent;
  --custom-checkbox-checked-hover: #908d8a;
  --custom-checkbox-checked-check: #1f2225;
  --custom-checkbox-checked-hover-check: #5f3235;

  /* Marker Table */
  --table-odd-row: #1116;
  --table-odd-hover: #11112166;
  --table-even-row: #21212166;
  --table-even-row-hover: #21213166;

  /* Update Bar */
  --update-bar-background: #040C;
  --update-bar-input-background: #030C;
  --update-bar-input-background-hover: #202C;

  /* Misc */
  --background-grad: linear-gradient(#212121CC, #402200CC);
  --tooltip-background: rgba(50, 50, 50, .7);
  --button-disabled-border: rgba(193,193,193,.67);
  --button-disabled-shadow: #919191;
  --text-button-border: #666;

  scrollbar-color: rgba(97, 97, 97, 0.76) #212121 !important;
}

/* Light theme uses default values */
a {
  color: #81a1e1;
}

a:visited {
  color: #6191c1;
}

::-ms-reveal {
  /* "Show Password" eye icon is always black, which blends into dark mode backgrounds. Invert its color. */
  filter: invert(80%);
}