:root {
  /* Core colors */
  --theme-primary: #212121;
  --theme-background: #ffefcc;
  --theme-border: #616161;
  --theme-border-hover: #212121;
  --theme-green: #292;
  --theme-red: #A22;
  --theme-orange: #A22; /* Just red, looks better than orange/brown */
  --theme-input-background: #f8e8c4;
  --theme-hr-color: #444;
  --theme-focus-color: #aa4f00;

  /* Errors */
  --error-background: #F777;
  --error-border: #C44;

  /* Main sections */
  --media-item-hover: rgba(0,0,0,0.2);
  --section-options-background: rgba(30,100,0,0.2);
  --section-options-hover: rgba(30,100,0,0.1);
  --section-options-input-hover: rgba(255,255,255,0.3);

  /* Custom checkbox */
  --custom-checkbox-background: #fec;
  --custom-checkbox-checked: #706d6a;
  --custom-checkbox-hover: #edb;
  --custom-checkbox-checked-hover: #807d7a;
  --custom-checkbox-checked-check: #d0edca;
  --custom-checkbox-checked-hover-check: #d0edca;

  /* Marker Table */
  --table-odd-row: #fec6;
  --table-odd-hover: #ffeebb66;
  --table-even-row: #edb6;
  --table-even-row-hover: #eda6;

  /* Update Bar */
  --update-bar-background: #9D9;
  --update-bar-input-background: #CFC;
  --update-bar-input-background-hover: #DFD;

  /* Misc */
  --background-grad: linear-gradient(#FFEFCCDD, #CCA066DD);
  --tooltip-background: rgba(255, 240, 200, 0.8);
  --button-disabled-border: rgba(93,93,93,.67);
  --button-disabled-shadow: #414141;
  --text-button-border: #333;

  scrollbar-color: #A19171 #C1B191 !important;
}