body {
  font-family: sans-serif;
  background-color: #212121;
  background-repeat: repeat;
  background-attachment: scroll;
  color: #c1c1c1;
  margin: 0;
  border: 0;
  overflow: auto;
  display: block;
  height: 100%;
}

.hidden {
    display: none;
}

form {
  width: 350px;
}

form label {
  float: left;
  padding: 3px;
  margin: 5px;
}

form input {
  float: right;
}

input, select {
  border: 1px solid #616161;
  padding: 3px;
  margin: 5px;
  background-color: #414141;
  color: #c1c1c1;
}