body {
  font-family: sans-serif;
  background-color: #212121;
  background-repeat: repeat;
  background-attachment: scroll;
  color: #c1c1c1;
  margin: 0;
  border: 0;
  overflow: auto;
  display: block;
  height: 100%;
}

.hidden {
    display: none;
}

form {
  width: 350px;
}

form label {
  float: left;
  padding: 3px;
  margin: 5px;
}

form input {
  float: right;
}

input, select {
  border: 1px solid #616161;
  padding: 3px;
  margin: 5px;
  background-color: #414141;
  color: #c1c1c1;
}

#episodelist table, #episodelist td, #episodelist thead {
  border-collapse: collapse;
  padding: 5px 10px;
  font-size: 10pt;
  width: auto
}

#episodelist table {
  margin: unset;
  overflow: auto;
  display: block;
  background: 0 0;
  max-width: 100%;
  color: #c1c1c1
}

#episodelist td,#episodelist thead {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid #606060
}

#episodelist thead {
  background-color: rgba(0,40,0,.3);
  border-top: 1px solid gray;
  font-weight: 700
}

#episodelist th {
  background-color: rgba(0,100,0,.2)
}

.timeColumn {
  width: 150px !important;
}

.showResult {
  padding: 10px;
  border-bottom: 2px solid #DDD;
  display: flex;
  justify-content: center;
}

.showResult:hover {
  font-weight: bold;
}

.showResult>div {
  flex: 1;
}

.showResultSeasons,
.showResultEpisodes {
  color: #909090;
}

.showResultSeasons {
  text-align: center;
}

.showResultEpisodes {
  text-align: right;
}

.showResultOriginalTitle {
  color: #909090;
}
