body {
  font-family: sans-serif;
  background-color: #212121;
  background-repeat: repeat;
  background-attachment: scroll;
  color: #c1c1c1;
  margin: 0;
  border: 0;
  overflow: auto;
  display: block;
  height: 100%;
}

.noSelect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
    display: none !important;
}

form label {
  float: left;
  padding: 3px;
  margin: 5px;
}

form input {
  float: right;
}

input, select {
  border: 1px solid #616161;
  padding: 3px;
  margin: 5px;
  background-color: #414141;
  color: #c1c1c1;
}

hr {
  color: #999;
  border-color: #999;
}

#showInstructions {
  margin: 5px auto 5px auto;
  display: inline-block;
  cursor: pointer;
}

#intro {
  max-width: 1000px;
  text-align: center;
  margin: auto;
}

#libraryList {
  width: 100%;
  margin: auto;
  text-align: center;
}

#libraries,
#search {
  padding: 5px;
  border-radius: 5px;
  background: transparent;
  text-align: center;
  font-size: 14pt;
}

#libraries {
  min-width: 350px;
}

#libraries option {
  background-color: #212121;
}

#libraries option:hover {
  background-color: #414141;
}

#libraries:hover,
#search:hover {
  border-color: #909090;
}

#libraries:focus,
#search:focus {
  border-color: #ff7f00;
}

#searchContainer {
  padding-top: 10px;
  width: 100%;
  text-align: center;
}

#search {
  width: 350px;
  margin: auto;
}

#showlist,
#seasonlist,
#episodelist {
  max-width: 1000px;
  margin: auto;
}

table {
  display: table;
  border-collapse: collapse;
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  border-spacing: 0;
  margin: auto;
  max-width: 95vw;
  font-size: 11pt;
}

#episodelist table {
  margin-top: 10px;
}

thead {
  border-bottom: 1px solid #c1c1c1;
}

tbody {
  vertical-align: middle;
}

tr {
  display: table-row;
  padding: 5px;
}

td {
  padding-left: 5px;
  padding-right: 5px;
}

thead tr {
  background-color: transparent !important;
}

tr:nth-child(odd) {
  background-color: #111;
}

tr:nth-child(odd):hover {
  background-color: #111121;
}

tr:nth-child(even) {
  background-color: #212121;
}

tr:nth-child(even):hover {
  background-color: #212131;
}

.tableNoIcon {
  border: 1px solid #666;
  padding: 3px;
  margin: 5px 1px 5px 1px;
  display: inline-block;
  line-height: 20px;
  cursor: default;
  font-size: 10pt;
}

.tableNoIcon>span {
  padding-left: 5px;
  padding-right: 5px;
}

.tableIcon {
  border: 1px solid transparent;
  padding: 3px;
  margin: 5px 1px 5px 1px;
  font-size: 9pt;
  opacity: 0.8;
  display: inline-block;
  line-height: 20px;
  cursor: default;
}

.tableIcon>img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.tableIcon>span {
  margin-left: 5px;
  vertical-align: middle;
}

.tableIcon:hover,
.tableNoIcon:hover {
  border: 1px solid rgba(193,193,193,.67);
  box-shadow: 0 0 6px #919191;
  transition: border .25s,box-shadow .5s;
  opacity: 1;
}

.timeColumn {
  width: 150px !important;
}

.centeredColumn {
  text-align: center;
}

.showResult,
.seasonResult,
.episodeResult {
  display: flex;
  cursor: pointer;
}

.showResult,
.seasonResult {
  border-bottom: 1px solid #999;
  justify-content: center;
}

.showResult {
  padding: 10px;
}

.showResult:hover,
.seasonResult:hover,
.episodeResult:hover {
  font-weight: bold;
  background-color: rgba(0,0,0,0.5);
}

.showResult>div {
  flex: 1;
}

.showResultSeasons,
.showResultEpisodes,
.showResultOriginalTitle,
.seasonTitle {
  color: #AAA;
}

.showResultSeasons {
  text-align: center;
}

.showResultEpisodes {
  text-align: right;
}

.seasonResult {
  padding: 10px 10px 10px 20px;
}

.seasonResult>div {
  flex: 1;
}

.episodeResult {
  padding: 5px 10px 5px 10px;
  justify-content: space-between;
}

.episodeName {
  padding-left: 10px;
}

.episodeResultMarkers {
  text-align: right;
}

.episodeSeparator {
  margin: 1px;
}

.markerExpand {
  font-size: 14px;
}

.goBack {
  color: #d1d1d1;
  text-align: right;
}

.goBack>input {
  margin: 0;
  padding: 2px;
}

.goBack>input:hover {
  border-color: #c1c1c1;
}

input[type=button]:hover {
  border-color: #A0A0A0;
}

.selected {
  background: rgba(255,255,255,0.1);
  font-weight: bold;
}

.selected:hover {
  background: rgba(255,255,255, 0.2);
}

.overlayButton {
  padding: 10px;
  background-color: rgba(40, 40, 40, 0.8);
  border: 1px solid #616161;
  border-radius: 3px;
}

.overlayButton:hover {
  border-color: #c1c1c1;
}

.overlayButton:focus {
  border-color:#ff7f00;
}

.confirmDelete {
  background-color: #612121;
}

.userModifiedMarker {
  font-weight: bold;
}

.tableHolder {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* #616161C1 == rgba(97, 97, 97, 0.76)
/* firefox */
:root {
  scrollbar-color: rgba(97, 97, 97, 0.76) transparent !important;
  scrollbar-width: thin !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-track:hover {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 5px;
  background: rgba(97, 97, 97, 0.76);
  opacity: 0.5;
}

/* corner */
::-webkit-scrollbar-corner {
  background: rgba(97, 97, 97, 0.76);
  border: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: rgba(129, 129, 129, 0.76); /* #818181C1 */
}