/* Taken from PlexWeb/style/tooltip.css */

#tooltip {
  font-size: 11pt;
  display: none;
  border-radius: 3px;
  border: 1px solid #616161;
  padding: 3px;
  position: absolute;
  max-width: calc(min(80%, 350px));
  z-index: 99; /* always on top */
  color: var(--theme-primary);
  background-color: var(--tooltip-background);

  & hr {
    margin-top: 3px;
    margin-bottom: 3px;
    opacity: 0.8;
  }

  &.largerText {
    font-size: 12pt;
  }

  &.smallerText {
    font-size: 10pt;
  }

  &.noBreak {
    white-space: nowrap;
  }

  &.larger {
    max-width: calc(min(90%, 650px));
  }

  &.centered {
    text-align: center;
  }
}
