/* Taken from PlexWeb/style/tooltip.css */

#tooltip {
    display: none;
    background-color: rgba(50, 50, 50, .7);
    color: #c1c1c1;
    border-radius: 3px;
    border: 1px solid #616161;
    padding: 5px;
    position: absolute;
    z-index: 99; /* always on top */
}
